---
layout: default
---
<div style="min-height: 1000px; width:100%">
    
    {% include div_text_only.html text="Udělal jsem pár základních modulů. Tohle je prostě div s formátovatelnym textem." textsize="35px" textcolor="#424242" bgcolor="#FCFCFC" height="255px" valign="center" hallign="center"  %}
    
    {% comment %} --- DIV_IMG_TEXT.HTML --- {% endcomment %}
        {% assign height1     = "350px" %}
        {% assign bgcolor1    = "#414D5C" %}
        {% assign textcolor1  = "#FCFCFC" %}
        {% assign textsize1   = "" %}
        {% assign text1       = "Text s obrázkem vedle sebe (responsive). adskjnfskj adnfasjekbanfjadskbf ajsdbf adskjbfasnmb fadsbf jambf kjasb fkjw abfakj dbhjbf shjafb askjbfaskj " %}
        {% assign tvalign1    = "center" %}
        
        {% assign imgurl1     = "../_media/deal.jpg" %}
        {% assign border1     = "none%}
        {% assign bradius1    = "none" %}
        
        {% include div_img_text.html tcolor=textcolor1 bgcolor=bgcolor1 tvalign=tvalign1 height=height1 imageurl=imgurl1 thetext=text1 %}
    
    {% comment %} --- DIV_IMG_TEXT.HTML --- {% endcomment %}
        {% assign height2     = "350px" %}
        {% assign bgcolor2    = "#FCFCFC" %}
        {% assign textcolor2  = "#424242" %}
        {% assign textsize2   = "50px" %}
        {% assign text2       = "Možno v opačnym pořadí, text formátovatelnej jakkoliv" %}
        {% assign tvalign2    = "top" %}
        {% assign thalign2    = "left" %}
        {% assign reverse2    = "1" %}

        {% assign imgurl2     = "../_media/kocka.png" %}
        {% assign border2     = "3px double black" %}
        {% assign bradius2    = "3px" %}
        
        {% include div_img_text.html textsize=textsize2 tvalign=tvalign2 thalign=thalign2 reverse=reverse2 border=border2 borderradius=bradius2 tcolor=textcolor2 bgcolor=bgcolor2 height=height2 imageurl=imgurl2 thetext=text2%}
        
    {% comment %} --- DIV_TWO_TEXT_COLUMNS.HTML --- {% endcomment %}
        {% assign height3     = "360px" %}
        {% assign bgcolor3    = "#414D5C" %}
        
        {% assign textcolor31 = "#FCFCFC" %}
        {% assign textcolor32 = "white" %}
        
        {% assign textsize31  = "18px" %}
        {% assign textsize32  = "30px" %}
        
        {% assign text31      = "Nějakej text v prvním sloupci. Nějakej text v prvním sloupci. Nějakej text v prvním sloupci. Nějakej text v prvním sloupci. Nějakej text v prvním sloupci. Nějakej text v prvním sloupci. (jakkoliv formátovatelnej)" %}
        {% assign text32      = ")jenletavotámrof vilokkaj( .icpuols myhurd v txet jeniJ .icpuols myhurd v txet jeniJ .icpuols myhurd v txet jeniJ .icpuols myhurd v txet jeniJ .icpuols myhurd v txet jeniJ .icpuols myhurd v txet jeniJ" %}

        {% assign tvalign31   = "center" %}
        {% assign tvalign32   = "top" %}

        {% assign thalign31   = "left" %}
        {% assign thalign32   = "right" %}

        {% assign reverse3    = "1" %}

        
        {% include div_two_text_columns.html height=height3 textsize1=textsize31 textsize2=textsize32 textcolor1=textcolor31 textcolor2=textcolor32 bgcolor=bgcolor3 valign1=tvalign31 valign2=tvalign32 halign1=thalign31 halign2=thalign32 text1=text31 text2=text32 %} 

    
    {% include div_buttonrow_template.html %} 


        
</div>