<div class="container">
    <div class="row" style="height:208px">
        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 maingrid">
            <div class="innergrid">
                První blok            
            </div>
        
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 maingrid">
            <div class="innergrid">
                Druhej blok
            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 maingrid">
            <div class="innergrid">
                Třetí blok
            </div>
        </div>
    </div>
</div>