{% assign height = "270" %}


<div class="" style="background-color:#1AA9D0; ">
    <div class="container">
        <div class="row">
    
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 maingrid testbuttonmain">
                <a href="#">
                    <div class="innergrid table">
                        <div class="tablecell topv lefth    testbutton " style="color: white">
                            <p style="margin-left:10px; "> Kouzelný tlačítko numero uno </p>
                            
                        </div>                
                    </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 maingrid testbuttonmain">
                <a href="#">
                    <div class="innergrid table">
                        <div class="tablecell testbutton centerh centerv" style="color: white">
                        <p> #2, note on </p>
                        </div>                
                    </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 maingrid testbuttonmain" style="padding-top: px">
                <a href="#">
                    <div class="innergrid table" >
                        <div class="tablecell testbutton middleh bottomv" style="color: white">
                        <p style=""> 3. tlačítko, all responsive </p>
                        </div>                
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 maingrid testbuttonmain">
                <a href="#">
                    <div class="innergrid table">
                        <div class="tablecell testbutton topv righth" >
                        <p style="color: white; margin-right:10px "> Poslední butón </p>
                        </div>                
                    </div>
                </a>
            </div>
           
            
        </div>
        
        
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
      <div class="col-md-1" style="height:100px">.col-md-1</div>
    </div>
    <div class="row">
      <div class="col-md-8" style="height:100px">.col-md-8</div>
      <div class="col-md-4" style="height:100px">.col-md-4</div>
    </div>
    <div class="row">
      <div class="col-md-4" style="height:100px">.col-md-4</div>
      <div class="col-md-4" style="height:100px">.col-md-4</div>
      <div class="col-md-4" style="height:100px">.col-md-4</div>
    </div>
    <div class="row">
      <div class="col-md-6" style="height:100px">.col-md-6</div>
      <div class="col-md-6" style="height:100px">.col-md-6</div>
    </div>
</div>