<footer class="site-footer">
  <div class="container">
    
    <div class="row" style="position:relative;">
      
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footersegment" style="position:relative;">
            <div class="fullwidthbgcolor"></div>
            <div class="inlineblock" style="width:49%; color: white;">
              <ul>
                <li><a href="kontakt.html" class="link" style="color:white"><b>Kontaktujte nás</b></a></li>
                <li><i class="fa fa-phone"></i>739 154 548</li>
                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@profond.cz" class="link">info@profond.cz</a></li>
                <li><i class="fa fa-facebook"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">ProFondCZ</a></li>
                <li><i class="fa fa-twitter"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">@ProFondCZ</a></li>
              </ul>
            </div>
         
            <div class="inlineblock" style="width: 49%; color: white;">
              <div class="napistenam">
                  <a href="kontakt.html" class="link">
                    <i class="fa fa-file-text-o" ></i>Napište nám
                  </a>
              </div>
              <div >
                <ul>
                  <li><i class="fa fa-home"></i>Kancelář:</li>
                  <li><i></i>Radlická 751/139e</li>
                  <li><i></i>Praha 5 - 155 00</li>
                </ul>
              </div>
            </div>
            
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footersegment" style="position:relative;">
          <div class="fullwidthbgcolor firstextrablock"></div>

          <div class="inlineblock" style="width:49%; color: white;">
              <ul>
                <li><a href="kontakt.html" class="link" style="color:white"><b>Kontaktujte nás</b></a></li>
                <li><i class="fa fa-phone"></i>739 154 548</li>
                <li><i class="fa fa-envelope-o"></i><a href="mailto:info@profond.cz" class="link">info@profond.cz</a></li>
                <li><i class="fa fa-facebook"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">ProFondCZ</a></li>
                <li><i class="fa fa-twitter"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">@ProFondCZ</a></li>
              </ul>
            </div>
         
            <div class="inlineblock" style="width: 49%; color: white;">
              <div class="napistenam" >
                  <a href="kontakt.html" class="link">
                    <i class="fa fa-file-text-o" ></i>Napište nám
                  </a>
              </div>
              <div >
                <ul>
                  <li><i class="fa fa-home"></i>Kancelář:</li>
                  <li><i></i>Radlická 751/139e</li>
                  <li><i></i>Praha 5 - 155 00</li>
                </ul>
              </div>
            </div>
            
      </div>
          

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footersegment thetextaligningproperty" style="position:relative;">
        
        <div class="fullwidthbgcolor secondextrablock"></div>

        <div class="inlineblock" style="width:49%; color: white;">
            <ul>
              <li><a href="kontakt.html" class="link" style="color:white"><b>Kontaktujte nás</b></a></li>
              <li><i class="fa fa-phone"></i>739 154 548</li>
              <li><i class="fa fa-envelope-o"></i><a href="mailto:info@profond.cz" class="link">info@profond.cz</a></li>
              <li><i class="fa fa-facebook"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">ProFondCZ</a></li>
              <li><i class="fa fa-twitter"></i><a href="http://nasfacebook.cz" class="link" style="color:white;">@ProFondCZ</a></li>
            </ul>
          </div>
       
          <div class="inlineblock" style="width: 49%; color: white;">
            <div class="napistenam" >
                <a href="kontakt.html" class="link">
                  <i class="fa fa-file-text-o" ></i>Napište nám
                </a>
            </div>
            <div >
              <ul>
                <li><i class="fa fa-home"></i>Kancelář:</li>
                <li><i></i>Radlická 751/139e</li>
                <li><i></i>Praha 5 - 155 00</li>
              </ul>
            </div>
      </div>
      
      </div>
    </div>
    
    
    
  </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</footer>
