<div class = "topblockroot">
    <div class="container">
            <div class = "row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class = "bigcover" >
                        <div id="index_topblock">
                            
                            <div class="row" >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maingrid">
                                    <div class="innergrid tablekek firstline" >
                                        <div class="tablecell middlev middleh">  
                                            <p> Fond dotačního programu <span class = "zelusp" >Zelená úsporám </span> pro rok 2015 je z <span class ="prcntg">80%</span> vyčerpán. </p>     
                                        </div> 
                                    </div>
                                </div>
                            </div>
                    
                    
                            <div class="progress zelenaprogressbar">
                              <div class=" tablekek progress-bar progress-bar-default progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%" >
                                    <div class= "tablecell centerv centerh">Již bylo vyčerpáno více než <span class = "goner"> 100 </span> ze <span class = "totalfund">123</span> mil. Kč</div>
                              </div>
                            </div>
                            
                    
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maingrid">
                                    <div class="innergrid tablekek secondline" >
                                        <div class="tablecell middlev middleh">  
                                            <p>Využijte poslední možnost získat tuto dotaci v roce 2015.</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maingrid">
                                    <div class="innergrid tablekek" >
                                        <div class="tablecell middlev middleh">  
                                            <div style="margin: 0 auto;">
                                                <div class ="buttons"> 
                                                    <button type="button" class="btn btn-default firstbutton"><p>Zjistit víc</p></button>
                                                    <button type="button" class="btn btn-primary secondbutton"><p>Sjednat schůzku</p></button>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div id="index_buttons"> 
                        <div class="index_button">
                            
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div><i class="fa fa-lightbulb-o"></i></div>
                                </div>  
                            </div>
                            
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div>
                                        <p>Na jaké dotace mám nárok?</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="index_button">
                              
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div><i class="fa fa-info"></i></div>
                                </div>  
                            </div>
                            
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div> <p> Informace o dotacich </p></div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
                        <div class="index_button">
                            
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div><i class="fa fa-map-signs routericon"></i></div>
                                </div>  
                            </div>
                            
                            <div class = "tablekek">
                                <div class="tablecell">
                                    <div>
                                        <p>Dotace pro firmy</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
                
            
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" rowspan = "2" >
                    <div class = "tablekek">
                        <div class = "tablecell centerh centerv">
                            <p> Header </p>
                        </div>
                    </div>
                    
                    <div class = "tablekek" >
                       <div class = "tablecell centerh centerv">
                        </div>
                    </div>
                    
                    <div class = "tablekek" >
                        <div class = "tablecell centerh centerv">
                            <p> Maintext </p>  
                        </div>
                    </div>
                </div>     
            </div>
                    
    
            
    </div>
</div>



