<div id="secondpart">
    
    
    <button id="partdevider">
        <div class="container">
            <div class="innerg tablekek" >
                <div class="tablecell centerv">  
                       <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><span class="thetext">O profondu:</span> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> 
                </div> 
            </div>
        </div>
    </button>
    
    <div id="sp_greetings">
        <div class="container">
            <div class="innerg tablekek" >
                <div class="tablecell centerh centerv">  
                       Jsme <span class="boldtext"> ProFond</span>, specialisti na dotace. Naším posláním je pomoc soukromínům i firmám zorientovat se ve spletitém světě grantů a dotací a poskytování všech prostředků potebných pro úspěšné získání dotace. 
                </div> 
            </div>
        </div>
    </div>
    
    <div id="sp_greetings_picture">
        <div class="container">
            <div class="innerg tablekek" >
                <div class="tablecell centerh centerv">  
                       Tady bych si představoval nějakej pěknej jednoduchej obrázek 
                </div> 
            </div>
        </div>
    </div>
    
    
    <div  id="sp_conabizime">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tablekek">
                        <div class="tablecell middlev right">
                           <img src="../_media/kocka.png" alt="Y U NO LOADING"></img>    
                        </div>                
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tablekek" >
                        <div class="tablecell middlev lefth">
                            <div class="theheader"> Co nabízíme:</div>
                            <ul>
                                <li>Zjistíme, na jaké dotace máte nárok</li>
                                <li>Formálně Váš projekt sepíšeme</li>
                                <li>Natavíme s Vámi projekt tak, aby měl maximální šanci na přijetí</li>
                                <li>Podáme žádost o dotaci a vyřídíme za Vás veškeré formality</li>
                                <li>Pomůžeme Vám projekt profinancovat</li>
                            </ul>
                               
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="sp_cochceme">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tablekek" >
                        <div class="tablecell middlev righth">
                            <div class="theheader"> Co za to chceme? </div>
                            <div class="subheader">Ani korunu předem!</div>
                            <div class="maintext">Nechceme po Vás žádné poplatky, dokud svou dotaci neobržíte a finální částka nebude bezpečně převedena na Váš účet!</div>
                            <div class="maintext">Pokud Vaše žádost o dotaci nebude přijata, veškeré služby obrdržíte zdarma </div>
                            <div class="maintext">Většinou však dotaci úspěšně vybojujeme, a v takovém případě si účtujeme malou provizi ve výši několika procent z její celkové výše</div>
  
                        </div> 
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tablekek">
                        <div class="tablecell middlev">
                           <img src="../_media/kocka.png" alt="Y U NO LOADING"></img>    
                        </div>                
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div  id="sp_kamdal">
        <div class="wrappingdiv">
            <div class="container theheader">
                <div class=" tablekek" >
                    <div class="tablecell centerh centerv">  
                        Kam dál?
                    </div> 
                </div>
            </div>
        </div>

        <div class="container router">
            <div class="innerg tablekek" >
                <div class="tablecell centerh centerv">  
                       Tady obrovský kontakty a rozcestník
                </div> 
            </div>
        </div>

    </div>
    
</div>
