<nav class="navbar navbar-default navbar-fixed-top" id="menu">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand teblecell centerv centerh" href="{% include router.html url="index" %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>ProFond</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-custom navbar-blockafterlogo navbar navbar-right">
        <li style ="margin-left: 180px"><a href="{% include router.html url="informace" %}">O dotacích</a></li>
        <li><a href="{% include router.html url="mojedotace" %}">"Kalkulačka"</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Služby <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Co nabízíme</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Pro soukromníky</a></li>
            <li><a href="#">Pro firmy</a></li>
          </ul>
        </li>
        <li><a href="{% include router.html url="kontakt" %}">Kontakt</a></li>

      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>